.dragButton {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.list {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.wrapperBurgerIngredients {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
