body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    flex: 1;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.position-relative {
    position: relative;
}

.list {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.width-fit {
    width: fit-content;
}

.mt-a {
    margin-top: auto;
}

.mb-a {
    margin-bottom: auto;
}

.ml-a {
    margin-left: auto;
}

.mr-a {
    margin-right: auto;
}

.link {
    color: var(--colors-interface-accent)!important;
    transition: 0.2s;
}

.link:hover {
    opacity: 0.75;
}